.title-style {
  margin-top: 20px;
  font-family: 'Gmarket Sans TTF', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #4CA771;
}

.search-inputs {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.search-input {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 4px;
}

.write-diary-button {
  padding: 10px 20px;
  background-color: #4CA771;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.write-diary-button:hover {
  background-color: #3a945b;
}

.diary-table-container {
  margin-top: 20px;
}

.diary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.diary-table th, .diary-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.no-diaries-message {
  margin-top: 20px;
  text-align: center;
  color: #888;
  font-size: 16px;
}
