.diary-write-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

.top-section {
    text-align: left;
}

.bridge-title {
    font-family: 'Gmarket Sans TTF', sans-serif;
    font-size: 24px;
    color: black;
}

.bridge-title .main-part {
    color: #4CA771; /* "B"의 색상 */
}

.subtitle {
    font-size: 16px;
    color: #888888; /* 회색 텍스트 */
    margin-top: 5px;
}

.diary-section {
    background-color: #ffffff; /* 흰색 배경 */
    padding: 20px;
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
    margin-top: 20px;
}

.diary-heading {
    font-size: 20px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.diary-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.diary-form textarea {
    width: 95%;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 16px;
    color: #666666;
    margin-bottom: 5px;
}

.diary-input,
.diary-textarea {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    width: 100%;
    font-size: 14px;
}

.diary-input {
    height: 35px; /* 입력 필드 높이 */
}

.diary-textarea {
    height: 150px; /* 텍스트 영역 높이 */
    resize: vertical; /* 세로 크기 조절 가능 */
}

.submit-button {
    padding: 10px 20px;
    background-color: #4CA771;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-top: 10px;
}

.submit-button:hover {
    background-color: #3a945b;
}
